<div class="container">

<h1> <%= @section.name %> </h1>

<ul>
  <% @lessons.sort_by! { |lesson| lesson.order_number } %>
  <% @lessons.each do |lesson| %>
    <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
  <% end %>
</ul>

<a href="/sections/<%= @section.id %>/edit"><button class="btn btn-warning">Edit this Section</button></a>

<a href="/sections/<%= @section.id %>"
   data-confirm="You sure?"
   data-method="delete"
   rel="nofollow"><button class="btn btn-danger">Delete Section</button></a>

<a href="/"><button class="btn btn-primary">Table of Contents</button></a>

</div>
