<body>

<div class="container">

<h1>Table of Contents</h1>


<ul>
  <% @chapters.each do |chapter| %>
  <li class="lesson"><a href="/chapters/<%= chapter.id %>"><%= chapter.name %></a></li>
    <ul>
      <% chapter.sections.order(:order_number).each do |section| %>
       <li class="section"><a href="/sections/<%= section.id %>"><%= section.name %></a></li>
       <ul>
          <% section.lessons.order(:order_number).each do |lesson| %>
          <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
          <% end %>
       </ul>
      <% end %>
    </ul>
  <% end %>
</ul>


<a href="lessons/new"><button class="btn btn-success front">Make new Lesson</button></a>

<a href="sections/new"><button class="btn btn-success front">Make new Section</button></a>

<a href="chapters/new"><button class="btn btn-success front">Make new Chapter</button></a>
</div>

</body>
