<body>

<div class="container">

<h1> <%= @lesson.name %> </h1>

<p> <%= @lesson.body %> </p>

<a href="/lessons/<%= @lesson.id %>/edit"><button class="btn btn-warning">Edit this Lesson</button></a>

<a href="/lessons/<%= @lesson.id %>"
   data-confirm="You sure?"
   data-method="delete"
   rel="nofollow"><button class="btn btn-danger">Delete Lesson</button></a>

<a href="/"><button class="btn btn-primary">Table of Contents</button></a>

<% if @lesson.previous != nil %>
  <a href="/lessons/<%= @lesson.previous.id %>"><button class="btn btn-primary foot left">Previous Lesson</button></a>
<% end %>
<% if @lesson.next != nil %>
  <a href="/lessons/<%= @lesson.next.id %>"><button class="btn btn-primary foot right">Next Lesson</button></a>
<% end %>

</div>

</body>
