<body>

<div class="container">

<h1> <%= @chapter.name %> </h1>

<ul>
  <% @chapter.sections.order(:order_number).each do |section| %>
   <li><a href="/sections/<%= section.id %>"><%= section.name %></a></li>
   <ul>
      <% section.lessons.order(:order_number).each do |lesson| %>
      <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
      <% end %>
   </ul>
  <% end %>
</ul>

<a href="/chapters/<%= @chapter.id %>/edit"><button class="btn btn-warning">Edit this Chapter</button></a>

<a href="/chapters/<%= @chapter.id %>"
   data-confirm="You sure?"
   data-method="delete"
   rel="nofollow"><button class="btn btn-danger">Delete Chapter</button></a>

<a href="/"><button class="btn btn-primary">Table of Contents</button></a>

</div>

</body>
